.bandAxis {
  & :global(.tick) text {
    text-anchor: start;
    transform: translateY(3px);
  }
}

.midLabels .bandAxis {
  & :global(.tick) text {
    text-anchor: middle;
  }
}

.linearAxis {
  & :global(.tick) line {
    opacity: 0.3;
  }
}

.chart {
  flex-shrink: 0;
}

.labels {
  display: flex;
  justify-content: center;

  & div {
    flex-shrink: 0;
  }
}

.label {
  font-size: 1.2rem;
  white-space: nowrap;
  position: relative;
}

.rotatedLabel {
  composes: label;
  transform: rotate(-90deg) translateX(-50%);
  transform-origin: 0 0;
  top: 50%;
  left: 0;
  position: absolute;
}

.centeredLabel {
  composes: label;
  transform: translateX(-50%);
  left: 50%;
  top: 0;
}

.xLabelWrap {
  margin-bottom: 1em;
}

.labelWrap {
  position: relative;
}

.yLabelWrap {
  composes: labelWrap;
  width: 2rem;
}
