:root {
  --white: rgba(255, 255, 255, 0.6);
}

.axis {
  & text {
    fill: var(--white);
    font-size: 1rem;
  }

  & line {
    stroke: var(--white);
  }

  & :global .domain {
    stroke: var(--white);
  }
}
