.button {
  display: block;
  padding: 0.4rem;
  background: white;
  border: 1px solid #4a90e2;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;

  &:hover:not(.active) {
    background: #f0f8ff;
  }
}

.active {
  background: #4a90e2;
  color: white;
}
