.scrollShadows {
  overflow-y: scroll;
  position: relative;
  z-index: 1;

  background: #fff no-repeat;
  background-image: radial-gradient(
      farthest-side at 50% 0,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      farthest-side at 50% 100%,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0)
    );
  background-position: 0 0, 0 100%;
  background-size: 100% 14px;

  &:before,
  &:after {
    content: '';
    position: relative;
    z-index: -1;
    display: block;
    height: 30px;
    margin: 0 0 -30px;
    background: linear-gradient(
      to bottom,
      #fff,
      #fff 30%,
      rgba(255, 255, 255, 0)
    );
  }

  &:after {
    margin: -30px 0 0;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      #fff 70%,
      #fff
    );
  }
}
