.tags {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  flex-basis: 33%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.label {
  display: inline-block;

  & div {
    display: flex;
    align-items: center;
  }
}

.img {
  max-height: 2rem;
}

.buttons {
  display: flex;
  justify-content: center;

  & a {
    margin: 0.3rem;
  }
}
