.flashback {
  fill: #9934ad;
}

.flashsideways {
  fill: #ffbe69;
}

.flashforward {
  fill: #f96074;
}

.normal {
  fill: none;
}

/* .rect {
  stroke: lightslategray;
} */

.episode {
  stroke: lightslategray;
  fill: none;
}

.episodeLabel {
  fill: rgba(255, 255, 255, 0.6);
  font-size: 0.625rem;
}

.episodeLine {
  stroke: lightslategray;
}
