.wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.nav {
  position: absolute;
  top: 1rem;
  display: flex;
  justify-content: center;

  & :first-child {
    border-left: none;
  }
  & :last-child {
    border-right: none;
  }
}

.navBtn {
  background: red;
  color: white;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  border-left: 1px solid color-mod(red shade(30%));
  border-right: 1px solid color-mod(red shade(30%));
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background: color-mod(red tint(30%));
  }

  &.disabled,
  &.disabled:hover {
    background: color-mod(red saturation(30%));
    cursor: not-allowed;
    color: slategray;
  }
}
