.filters {
  composes: scrollShadows from './scrollShadows.css';
  overflow-y: scroll;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 0;
  max-width: 100%;
  overflow: hidden;
  transition: width ease-in-out 150ms;
  background: white;
  display: flex;
}

.close {
  display: flex;
  width: 6rem;
  background: lightgray;
  color: white;
  cursor: pointer;

  & span {
    margin: auto;
  }

  &:hover {
    background: color(lightgray tint(30%));
  }
}
