.selector {
  padding: 10px;
  display: flex;
  align-items: center;
  height: 70px;

  & :global(.Select-multi-value-wrapper) {
    width: 150px;
    height: 55px;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
  }

  & :global(.Select-control) {
    border-left: none;
    border-right: none;
    border-radius: 0;
    height: 55px;
    display: flex;
  }

  & :global(.Select-value) {
    font-size: 1.2rem;
    height: 2rem;
    margin: 1px;
  }

  & :global(.Select-input) {
    font-size: 1.2rem;
    height: 2rem;
    margin: 1px;

    & input {
      padding: 0;
      margin: 0;
      height: 2rem;
    }
  }
}

.color {
  width: 10px;
  height: 55px;
  border: 1px solid;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 75vw;
  min-width: 800px;
  z-index: 2;
}

.button {
  composes: button from 'components/ButtonGroup/ButtonGroup.css';
  height: 55px;
  width: 20px;
  padding: 0;
  margin: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.addButton {
  composes: button from 'components/ButtonGroup/ButtonGroup.css';
  margin: 0;
}

:global(#personality-selector) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 800px) {
  :global(#personality-selector) {
    align-items: flex-start;
  }
}
