#openings-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#openings-chart path {
  stroke: white;
  stroke-width: 2;
  stroke-opacity: 0;
}

#openings-chart .highlighted {
  stroke-opacity: 1;
}

#openings-chart .title {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

#openings-chart .board {
  pointer-events: none;
}
