.button {
  font-size: 0.8rem;
  height: 2rem;
  padding: 0 0.5rem;
  background: lightslategray;

  &:focus {
    outline: none;
  }

  &.active {
    background: red;
  }
}

.groupedButton {
  composes: button;
  border-radius: 0;
}

.wrapper {
  & .button:first-of-type {
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
  }

  & .button:last-of-type {
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
  }
}
