.title {
  font-weight: bold;
  font-size: 0.75rem;
}

.centered {
  text-align: center;
}

.legend {
  width: 14px;
  height: 14px;
}

.points {
  display: flex;
  justify-content: space-around;
}

.percentile {
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tooltip {
  font-size: 0.625rem;

  & .wide {
    max-width: 250px;
  }
}

.desc {
  composes: centered;
}
