.svg {
  flex-shrink: 0;
}

.wrap {
  display: flex;
  justify-content: center;
}

.seasonLabel {
  fill: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
}

@media screen and (max-width: 900px) {
  .wrap {
    justify-content: flex-start;
  }
}
