.flashback {
  fill: red;
}

.flashsideways {
  fill: green;
}

.normal {
  fill: none;
}

.rect {
  // mix-blend-mode: color;
}

.episode {
  stroke: lightslategray;
  fill: none;
}

.episodeLabel {
  fill: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
}

.episodeLine {
  stroke: lightslategray;
}
