:root {
  --color: white;
}

.axis {
  & text {
    fill: var(--color);
    font-size: 1em;
    user-select: none;
  }

  & line {
    stroke: var(--color);
  }

  & :global .domain {
    stroke: var(--color);
  }
}
