.labels {
  display: flex;
  flex-direction: column;
}

.yLabels {
  display: flex;
  justify-content: center;

  & div {
    flex-shrink: 0;
  }
}

.label {
  font-size: 1.2rem;
  white-space: nowrap;
  position: relative;
}

.rotatedLabel {
  composes: label;
  transform: rotate(-90deg) translateX(-50%);
  transform-origin: 0 0;
  top: 50%;
  left: 0;
  position: absolute;
}

.xLabelWrap {
  display: flex;
  justify-content: center;
}

.xLabel {
  composes: label;
}

.yLabelWrap {
  position: relative;
  width: 2rem;
}
