.bandAxis {
  & :global(.tick) text {
    text-anchor: start;
    transform: translateY(3px);
  }
}

.linearAxis {
  & :global(.tick) line {
    opacity: 0.3;
  }
}

.center {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.chart {
  flex-shrink: 0;
}
