.circle {
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
  opacity: 0.2;
  margin-right: 0.5rem;
}

.selected {
  opacity: 1;
}

.legend {
  position: absolute;
  bottom: 30px;
  display: flex;
  background: rgba(0, 0, 0, 0.4);
  padding: 3px;
  user-select: none;
  overflow: hidden;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.label {
  color: lightslategray;
  display: flex;
  align-items: center;
  margin: 0 1rem;
  font-size: 1.4rem;
  cursor: pointer;
  white-space: nowrap;

  &:hover {
    color: white;
  }

  &.addLabel {
    cursor: auto;

    &:hover {
      color: lightslategray;
    }
  }
}

input.add {
  all: unset;
  margin-left: 1rem;
  font-size: 1.4rem;
  border-bottom: 1px solid lightslategray;
}

button.addBtn {
  background-color: unset;
  border-color: lightslategray;
  color: lightslategray;
  margin-left: 1rem;
  margin-bottom: 0;
  font-size: 2rem;
  width: 4rem;
  padding: 0;
  height: 3rem;
  line-height: 0;
}

.remove {
  margin-left: 0.5rem;

  &:hover {
    color: red;
  }
}
