.circle {
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
  opacity: 0.2;
  margin-right: 0.5rem;
}

.selected {
  opacity: 1;
}

.legend {
  position: absolute;
  bottom: 20px;
  display: flex;
}

.label {
  color: lightslategray;
  display: flex;
  align-items: center;
  margin: 0 1rem;
  font-size: 1.4rem;
  cursor: pointer;

  &:hover {
    color: white;
  }
}
