.circle {
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
  opacity: 0.2;
  margin-right: 0.5rem;
}

.selected {
  opacity: 1;
}

.legend {
  position: absolute;
  bottom: 30px;
  display: flex;
  background: rgba(0, 0, 0, 0.3);
  padding: 3px;
  user-select: none;
  overflow: hidden;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.label {
  color: lightslategray;
  display: flex;
  align-items: center;
  margin: 0 1rem;
  font-size: 1.4rem;
  cursor: pointer;
  white-space: nowrap;

  &:hover {
    color: white;
  }
}
