.textWrap {
  width: 100vw;
  position: absolute;
  top: 0;
}

.text {
  position: absolute;
  left: 10rem;
  top: 10rem;
  max-width: 30rem;
  font-size: 1.3rem;
  border: 1px solid black;
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;

  & h4 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }

  & p {
    font-size: 1.3rem;
    margin: 0;
  }
}

@media (width < 50rem) {
  .text {
    left: 0;
    top: 5rem;
  }
}
