:global(body) {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 12px;
}

:global(#root) {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.wrap {
  display: flex;
  flex: 1;
}

.map {
  position: relative;
  flex: 1;
}

.side {
  flex-basis: 25%;
}
