@media (max-width: 700px) {
  :global(#word-count) {
    width: 700px;
  }
}

.chart {
  display: flex;
  justify-content: center;
  height: 425px;
  overflow-y: scroll;
  margin: 0 auto;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.all {
  margin-left: 2rem;
}
