.chart {
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  margin: 0 auto;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.all {
  margin-left: 2rem;
}
