{{ partial "header.html" . }}

<div class="article-list">
	{{ range $key, $val := where .Paginator.Pages "Params.hidden" "ne" true }}
		{{ $image := resources.Get .Params.image }}
		<article class="item">
			<h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
			<div class="tags-and-date">
				<time title='{{ $val.Date.Format "2006-01-02 @ 15:04pm"}}'>{{ $val.Date.Format "2 January 2006" }}</time>
				{{ partial "tags.html" . }}
			</div>
			<div class="split2">
				<div class="image">
					<img src="{{ ($image.Resize "600x webp q100").RelPermalink }}" alt="thumbnail image for {{ .Title }}" />
				</div>
				<div class="summary">
					{{ if .Params.summary }}
						{{ .Params.summary | markdownify }}
					{{ else }}
						{{ .Summary }}
					{{ end }}
				</div>
			</div>
		</article>

		<hr>
	{{ end }}
</div>

<!-- {{ partial "pagination.html" . }} -->

{{ partial "footer.html" . }}
