{{ partial "header.html" . }}

<h1>{{ .Title }}</h1>

<div class="tags-and-date">
	<time title='{{ $.PublishDate.Format "2006-01-02 @ 15:04pm"}}'>{{ $.Date.Format "2 January 2006" }}</time>
	{{ if not (eq $.PublishDate $.Lastmod) }}
	<div>Updated:  <time title='{{ $.Lastmod.Format "2006-01-02 @ 15:04pm"}}'>{{ $.Lastmod.Format "2 January 2006" }}</time></div>
	{{ end }}
	{{ partial "tags.html" . }}
</div>

<article class="article">
	{{ .Content }}
</article>

<div class="share">
	<h4>Share this post</h4>
	<p>I'm pretty sure you know how to share things on social media, so I'll spare you the 50 different obnoxious buttons. If you liked this, feel free to share anywhere, it helps me out.</p>
	<p>Have something to say? <a href="https://twitter.com/search?q={{ .Permalink }}">Discuss on Twitter</a></p>
</div>

{{ with .Params.related }}
<div class="see-also">
	<h4>See Also</h4>
	<div class="see-also-items">
		{{ range $term := . }}
			{{ $t := $.Site.GetPage $term }}
			<div class="suggestion">
				<a href="{{ $t.RelPermalink }}">
					<img src="/{{ $t.Params.image }}" />
					{{ $t.Title }}
				</a>
			</div>
		{{ end }}
	</div>
</div>
{{ end }}

{{ partial "consult.html" . }}

{{ partial "footer.html" . }}
