#ending {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

#ending div {
  margin: 0 20px;
  width: 220px;
}

#ending .caption {
  text-align: center;
  margin-bottom: 1rem;
  display: block;
}
