.text {
  dominant-baseline: central;
  fill: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  pointer-events: none;
}

.low {
  composes: text;
  text-anchor: end;
}

.high {
  composes: text;
}

.label {
  composes: text;
  text-anchor: middle;
}

.rect {
  stroke: #282c34;
  stroke-width: 4;
}
