.line {
  fill: none;
  stroke-width: 2;
  stroke-dasharray: 5, 5;
  opacity: 0.7;
}

.yLine {
  composes: line;
  stroke: white;
}

.xLine {
  composes: line;
  stroke: white;
}

.polygons path {
  // stroke: red;
}

.val {
  font-size: 0.75rem;
  text-anchor: end;
  dominant-baseline: middle;
  stroke: #282c34;
  stroke-width: 4;
  paint-order: stroke;
  letter-spacing: 0;
}

.yVal {
  composes: val;
  fill: white;
}

.xVal {
  composes: val;
  fill: white;
  text-anchor: middle;
}
